<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LunBoPicDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5639AFE61BFEAEDA00BB1E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5639AFFF1BFEAEDA00BB1E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5639B00A1BFEAEDA00BB1E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
